@import url('https://fonts.googleapis.com/css2?family=Lora&family=Merriweather&family=Poppins:wght@300&display=swap');

        @charset "UTF-8";

        /* CSS HEX 
        --light-steel-blue: #b0c4deff;
        --blue-bell: #a493c7ff;
        --purple-plum: #9862afff;
        --patriarch: #800080ff;
        --dark-purple: #200020ff;
        */

        :root {
            --light-steel-blue: #b0c4deff;
            --blue-bell: #a493c7ff;
            --purple-plum: #9862afff;
            --patriarch: #800080ff;
            --dark-purple: #200020ff;
        }

        @media screen and (max-width: 600px) {
            .column {
              width: 100%;
            }
          }

        h1{
            font-style: bold;
            font-family:'Lora', serif;
            font-size: 1.2em;
            font-style: bold;
            text-align: center;
        }


        h2 {
            font-style: bold;
            font-family:'Lora', serif;
            font-size: 1em;
            font-style: bold;
        }


        body {
            
            background-image:linear-gradient(#b0c4de,#800080);
            -webkit-user-select: none;       
            -moz-user-select: none; 
            -ms-user-select: none; 
            user-select: none;
            
        }
        
    
        
        a {   
            color: black;   
            text-decoration: none;
        }
    
    
        a:visited {
            color: black;
            outline: none;
            text-decoration: none;
            
            
         }
        a:hover {
            color: gray;
            outline: none;
            text-decoration: none;
            
        }
        a:active {
            color: black;
            outline: none;
            text-decoration: none;
            
        }   
        
        a[tabindex]:focus {
            color: black;
            outline: none;
            text-decoration: none;
            

    
        }
        img {
            margin: auto;
            border-radius: 30px 30px;
            max-width: auto;
            max-height: auto;
            }
        
div {
 }

    .logo {
        text-align: center;
        height: 200px;
        width: auto;
    }
    .logo img {
        margin: auto;
        border-radius: 30px 30px;
        max-width: 100%;
        max-height: 100%;
        }


    .box {
    text-align: center;
    color:white;
    font-size: 1.6em;
    display:table;
    position: relative;
    background-color: rgba(32, 0, 32, 0.822);
    margin: auto;
    border-radius: 30px/30px;
    width: 80%;
    height: auto;
    padding: 3%;
    box-shadow: 2px 2px 2px 2px rgb(0, 0, 0);
    }


    .portfolios {
        display: flex;
        justify-content: space-around;
        margin: auto;
        flex-wrap: wrap;
        flex-direction: row;
        width: 80%;
        padding: 0% 3%;
        
    }
    .portfolios img {
        margin: 0;
        border-radius: 0;
        max-height: 80%;
        max-width: 80%;
    }

    .artworks {
        display: inline-block;
        justify-content: space-around;
        background-color: none;
        margin: auto;
        width: 70%;
        padding: 0% 3%;
        text-align: center;
        
    }
    
    .artworks img {
    margin: auto;
    border-radius: 0;
    max-height: 200px;
    max-width: 200px;

    }
    .thumbnail {  
        outline: 1px solid white;
        outline-offset: -4px;
        background-color:rgba(255,255,255,0.5);
        border-radius: 30px/30px;
        display: inline-block; 
        position:flex;
        cursor: pointer; 
        -webkit-transition-property: all; 
        -webkit-transition-duration: 0.3s; 
        -webkit-transition-timing-function: ease; 
        } 
        .thumbnail:hover { 
        transform: scale(1.3); 
        
        }
    

    .container {
        display: flex;
        float: left;
        position: relative;
        padding: 3%;
        margin-left: 3%;
        background-color: whitesmoke;
        border-radius: 30px 30px;
        width: 75%;
        flex-wrap: wrap;
        flex-direction: row;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.582);
    }

    .container img {
        margin: auto;
        border-radius: 30px 30px;
        max-width: 100%;
        max-height: 100%;
        }
    
    .banner {
        display: flex;
        float: right;
        position: relative;
        padding: 0.5%;
        margin-right: 3%;
        background-color:whitesmoke;
        border-radius: 30px 30px;
        width: 10%;
        flex-wrap: wrap;
        flex-direction: row;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.582);
    }

    .banner img {
        margin: auto;
        border-radius: 30px 30px;
        max-width: 100%;
        max-height: 100%;
        }

        span.bannerimg {

            display: inline-block;
            margin: auto;
            margin-top: 1%;
            width: 100%;
            border-radius: 30px 30px;
        }
        span.art {
            display:inline-block;
            margin:auto;
            width:400px;
            border-radius: 30px 30px;
            outline: 1px solid white;
            outline-offset: -4px;
            background-color:rgba(255,255,255,0.5);
                               
            }
            
    
        span.text {
            font-family: 'Merriweather', serif;
            text-align: justify;
            justify-items: center;
            align-content: center;
            font-size: 1.6em;
            color: black;
            width: 500px;
            margin:auto;
        }
        
footer{
            text-align: center;
        }
    .footer {
        color: white;
        display: inline-block;
        background-color: var(--blue-bell);
        position: flex;
        margin-top: 5%;
        padding-top: 1%;
        bottom: 0;
        border-radius: 30px 30px;
        width: 93%;
        height: 2em;
        text-align: center;
        flex-wrap: wrap;
        flex-direction: column;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.582);
        }

        .box2 {
        display: flex;
        text-align: center;
        justify-content: space-around;
        flex-wrap: wrap;
        flex-direction: row;
        position: relative;
        background-color: whitesmoke;
        margin: auto;
        border-radius: 30px/30px;
        width: 80%;
        height: auto;
        padding: 3%;
        box-shadow: 2px 2px 2px 2px rgb(0, 0, 0);
            }

            .contato {
                line-break: 2em;
                line-height: 2em;
                font-family: 'Merriweather', serif;
                text-align: left;
                font-size: 1.2em;
                padding: 30px;
                width: auto;
                height: auto;
                max-width: 65%;
                max-height: 100%;
                border-radius: 30px 30px;
                margin:auto;
                -webkit-user-select: text;       
                -moz-user-select: text; 
                -ms-user-select: inherit; 
                user-select: text;
            
            }
            
              .mailto {
                margin: 1%;
                text-align: center;
                border-radius: 30px/30px;
                padding: 30px;
                max-width: 100%;
                max-height: 100%;
                width: auto;
                height: auto;
              }
            
            
.links {
    text-align: center;
    display:flex;
    width: auto;
    height: auto;
    justify-content: space-around;
    border-radius: 30px/30px;
    padding: 1%;
    margin: 1%;
    align-content:center;
    }

input[type=nome], select, textarea {
    width: 100%;
    padding: 9px;
    border: 1px solid #ccc;
    border-radius: 30px;
    box-sizing: border-box;
    width:auto;
    height:auto;
    margin: 3%
    }

input[type=text], select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 30px;
    box-sizing: content-box;
    margin: 3%;
    width:80%;
    height:200px;
    }

    input[type=email], select, textarea {
        width: 100%;
        padding: 9px;
        border: 1px solid #ccc;
        border-radius: 30px;
        box-sizing: border-box;
        width:auto;
        height:auto;
        margin: 3%
        }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  form {
    text-align:center;
  }




    div#links a:link {color: white;}
    div#links a:visited {color: white;}
    div#links a:active {color: white;}
    div#links a:hover {color: white;}

    span.links {
        font-family:"Poppins", sans-serif;
        display: flex;
        justify-content: space-around;
        width: 80px;
        height: auto;
        background-color: #b0c4deff;
        border-radius: 30px/30px;
        margin: 1%;
        -webkit-transition-property: all; 
        -webkit-transition-duration: 0.3s; 
        -webkit-transition-timing-function: ease; 
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.185);
    }

    span.links:hover {
        transform: scale(1.03);
        background-color:#800080ff;
    }
    


    